boto3~=1.20.49
PyMySQL~=1.0.2
fastapi
uvicorn
langchain

langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
groq
cassio
beautifulsoup4
langchain-groq
arxiv
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox